.color-red{
	color: red;
}
.th-sort a{
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
.th-sort i{
	opacity: 0.5;
}

.user-panel {
  position: relative;
  width: 100%;
  padding: 26px;
  overflow: hidden;
}

.category-content{
	position: relative;
	padding : 20px;
}

.media, .media-body{
	overflow: visible;
}

.media-heading{
	margin-bottom: 2px;
	display: block;
	color: rgba(255,255,255,.8);
}

.position-left{
	margin-right: 7px;
}